<section id='education'>
	<div>
		<br><h5 class="text-center">Educación</h5>
		<h5 class="text-left">He estudiado en:</h5>
	</div>
</section><br><br>

<section>
	<div class="container-fluid">
		<div class="row justify-content-center" id="row-setting">
			
			<div class="col-md-5">
				<img src="./assets/Logo Monteagudo.png" alt="Logo Monteagudo" class="image-fluid" width="150px" id="img-setting"><br>
				<h5 class="text-center">Escuela Bernardo de Monteagudo</h5>
				<p class="text-center" id="text-setting">Primario Completo (2007)
				</p><br>
			</div>

			<div class="col-md-5">
				<img src="./assets/Logo JP2.png" alt="Logo JP2" class="image-fluid" width="150px" id="img-setting"><br>
				<h5 class="text-center">Instituto Juan Pablo II</h5>
				<p class="text-center" id="text-setting">Secundario Completo (2014)
				</p><br>
			</div>

			<div class="col-md-5">
				<img src="./assets/Logo Ini.png" alt="Logo Ini" class="image-fluid" width="150px" id="img-setting"><br>
				<h5 class="text-center">Ini Computación</h5>
				<p class="text-center" id="text-setting">1er año de diseño grafico (Enero 2016)</p><br>
			</div>

			<div class="col-md-5">
				<img src="./assets/Logo LCI.png" alt="Login LCI" class="image-fluid" width="150px" id="img-setting"><br>
				<h5 class="text-center">Instituto LCI</h5>
				<p class="text-center" id="text-setting">2do año de diseño grafico (Diciembre 2016)</p><br>
			</div>

		</div>
	</div>
</section>
