<header>
	<nav class="navbar navbar-expand-fluid">
		<div class="logo">
		<img src="./assets/Argentina Programa Logo.png" class="image-fluid" alt="logo de ARG programa">
	</div>

    <div class="btn-group">
	<div class="dropdown">
		<button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;"><i class="fab fa-github"></i></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li>https://github.com/CeleMPaez</li>
		</ul>
	</div>

	<div class="dropdown">
		<button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;"><i class="fas fa-envelope"></i></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li>celestempaez@gmail.com</li>
		</ul>
	</div>

	<div class="dropdown">
		<button class="btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;"><span class="navbar-toggler-icon"></span></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item text-center" routerLink="">Home</a></li>
			<li><a class="dropdown-item text-center" routerLink="/login">Login</a></li>
		</ul>
	</div>
    </div>
    </nav>
</header>

<main>

<div class="bg-primary d-flex justify-content-center align-items-center vh-100">
	
	<div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
		<div class="d-flex justify-content-center">
		<img src="./assets/Login Icon.png" alt="Login Icon" id="login-icon"></div>
		<div class="text-center fs-1 fw-bold">Register</div>

		<div class="input-group mt-1">
			<input class="form-control" type="text" placeholder="Email">
		</div>

		<div class="input-group mt-1">
			<input class="form-control bg-light" type="password" placeholder="Password">
		</div>

		<div class="input-group mt-1">
			<input class="form-control bg-light" type="password" placeholder="Repeat the password">
		</div>

		<div class="btn btn-primary text-white w-100 mt-4 fw-semibold shadow-sm">
		Register</div>
	</div>
</div>

</main>