<header>
	<nav class="navbar navbar-expand-fluid">
		<div class="logo">
		<img src="./assets/Argentina Programa Logo.png" class="image-fluid" alt="logo de ARG programa">
	</div>

    <div class="btn-group">
	<div class="dropdown">
		<button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;"><i class="fab fa-github"></i></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li>https://github.com/CeleMPaez</li>
		</ul>
	</div>

	<div class="dropdown">
		<button class="btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;"><i class="fas fa-envelope"></i></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li>celestempaez@gmail.com</li>
		</ul>
	</div>

	<div class="dropdown">
		<button class="btn btn-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 20px;"><span class="navbar-toggler-icon"></span></button>
		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
			<li><a class="dropdown-item text-center" routerLink="/login">Login</a></li>
			<li><a class="dropdown-item text-center" routerLink="/register">Register</a></li>
		</ul>
	</div>
    </div>
    </nav>

<section>
	<div id="banner">
		<img src="./assets/Banner.jpg" alt="Banner" id="img_banner" class="image-fluid">
	</div><br>
</section>
</header>

<main>
	<about-me></about-me>
	<skills></skills>
	<education></education>
	<projects></projects>
	<controls></controls>
</main>

<footer></footer>
